/* ===== GLOBAL CSS RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY ===== */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #343b47;
    color: #ffffff;
    min-height: 100vh;
}

/* ===== APP ===== */
.app-container {
    width: 100%;
    max-width: 1500px;
    min-height: 900vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100px 1fr 350px;
    gap: 20px;
    padding: 20px;
}

/* ===== MAIN CONTENT ===== */
.main-content {
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}